.columns {
	min-height: 200px;
	height: auto;
}

.column1 {
	width: 350px;
	margin: 0 5px 0 0;
	padding: 10px;
}
#sideNavigation {
	height: auto !important;
}
.sapTntSideNavigationVerticalScrolling {
	height: auto !important;
}
.grey {
	color: #ccc !important;
	cursor: disabled;
} 	
.sapMFlexItem {
	margin-bottom: 5px;
}
#iDate, #iSegment {
	padding-right: 5px;
}
.sapMInputValHelp {
	margin-right: 5px;
}
	.sapMPage>.sapMPageHeader + section {
		top: 0rem;
	}
	.sapMPage>section {
		position: inherit;
		height: 100%;
	}
	
	.sapMPage.sapUiContentPadding>section {
		padding: 0rem !important;
	}
	

.pageWrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    max-width: 15rem;
}
.sapTntSideNavigation {
	display: block !important;
}	
#__xmlview0--link1 .sapTntNavLIItem .sapMText,#__xmlview0--link2 .sapTntNavLIItem .sapMText,#__xmlview0--link3  .sapMText,#__xmlview0--link4  .sapMText,#__xmlview0--link5  .sapMText {
	color: #a7a7a7 !important;
	cursor: normal;
}
.panel-body {
	padding: 0px !important;
}